{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Change password | Lemon Blog</title>
{% endblock %}

{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="col-lg-6 mx-auto">
      <div class="card mb-5">
        <div class="card-header">
          <h3 class="mb-0">Change Password</h3>
          {% if messages %}
            <div class="text-left my-12">
              {% for message in messages %}
                <h6>{{ message }}</h6>
              {% endfor %}
            </div>
          {% endif %}
      </div>
      <div class="card-body">
          <form action="{% url 'change_password' %}" method="POST"> {% csrf_token %}
              <div class="form-group">
                  <label for="inputPasswordOld">Current Password</label>
                  {{ form.old_password }}
              </div>
              <div class="form-group">
                  <label for="inputPasswordNew">New Password</label>
                  {{ form.new_password1 }}
              </div>
              <div class="form-group">
                  <label for="inputPasswordNewVerify">Repeat New Password</label>
                  {{ form.new_password2 }}
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>       
{% endblock %}